@use './../../styles/index.scss' as *;
@use './../../styles/colors.scss' as *;

.locations-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--backgroundColor);
        padding: .25rem 0.5rem;
        border-bottom: 1px solid var(--borderColor);
        position: sticky;
        top: 0px;
        z-index: 10;

        .collapse-all-button {
            display: flex;
            align-items: center;
            cursor: pointer;

            .collapse-all-text {
                font-size: 1rem;
                color: var(--fontColor);
            }
        }

        .title {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--fontColor);
        }

        .back-button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }
    }

    .page-content {
        display: flex;
        flex-direction: row;
        position: relative;

        .locations-page-content {
            width: auto;
            flex: 2;
            margin: 0 auto;
            // padding: 16px 20px 40px 20px;
            height: calc(100vh - $topbarHeight);
            overflow: scroll;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}