@use './../../styles/index.scss' as *;
@use './../../styles/colors.scss' as *;

.locations-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    // overflow: hidden;

    .page-content {
        display: flex;
        flex-direction: row;
        position: relative;

        .locations-page-content {
            width: auto;
            flex: 2;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding: 16px 20px 40px 20px;
            overflow-y: scroll;
            overflow-x: hidden;
            height: calc(100vh - $topbarHeight);
        }
    }
}