@use './../../styles/index.scss' as *;
@use './../../styles/colors.scss' as *;

.app-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .topbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--backgroundColor);
        padding: .25rem 0.5rem;
        border-bottom: 1px solid var(--containerBorderColor);
        height: $topbarHeight;
        position: sticky;
        top: 0px;
        z-index: 10;

        // left
        .title-container {
            display: flex;
            align-items: center;

            .title {
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--fontColor);
                text-align: left;
                padding: 0px 16px;
            }
        }

        //  center
        .nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 32px;
        }

        .back-button {
            // padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }

        // right
        .themes-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0px 16px;

            .theme-button {
                background-color: transparent;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                color: var(--fontColor);
            }
        }
    }

    .page-wrapper {
        flex: 1;
        overflow: hidden;
    }
}