@use './../../styles/index.scss' as *;
@use './../../styles/colors.scss' as *;

.pokemon-page {
    width: 100%;

    .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .pokemon-list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
            max-width: 800px;
            height: calc(100vh - $topbarHeight);
            overflow-y: scroll;

            .pokemon-list-item {
                width: 100%;
                cursor: pointer;
                border: 1px solid var(--containerBorderColor);
                padding: 0px 20px;
                display: grid;
                grid-template-columns: 48px 120px 120px 100px;
                align-items: center;
                gap: 8px;

                .pokemon-name {
                    font-weight: bold;
                }

                .pokemon-types {
                    gap: 8px;
                    display: flex;
                    flex-direction: row;

                    .type-badge {
                        background-color: gray;
                        font-size: .75rem;
                        padding: 0px 8px;
                        border-radius: 20px;
                        color: white;
                        font-weight: 600;
                    }
                }

                .pokemon-bst {
                    font-size: 0.8rem;
                }
            }
        }
    }
}