@use './../../../../../../styles/index.scss' as *;
@use './../../../../../../styles/colors.scss' as *;

.trainer-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // border: 1px solid $backgroundColor;
    width: 150px;
    min-width: 150px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 12px;

    .trainer-sprite-wrapper {
        background-color: $backgroundColor;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 2;

        .trainer-sprite-container {
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .trainer-info {
        width: 100%;
        text-align: center;

        .trainer-class {
            color: $fontColor;
            font-size: 0.8rem;
            background-color: $containerBgColor;
            padding: 1px 0px;
        }

        .trainer-name {
            font-size: 1rem;
            font-weight: bold;
            color: $fontColor;
            background-color: $containerBorderColor;
            padding: 1px 0px;
        }

        .trainer-items {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 3px;
            background-color: $backgroundColor;
        }
    }
}