$borderColor: rgb(58, 72, 90);
$backgroundColor: #1e212b;
$fontColor: rgb(236, 236, 236);
$fadedFont: gray;
$primaryColor: rgb(132, 159, 212);
$primaryColorHover: rgb(102, 134, 199);
$buttonBgColor: rgb(18, 18, 18);