:root,
[data-theme='base'] {
    --borderColor: rgb(58, 72, 90);
    --backgroundColor: #1e212b;

    --fontColor: rgb(236, 236, 236);
    --fadedFont: rgb(200, 200, 200);

    --primaryColor: rgb(132, 159, 212);
    --primaryColorHover: rgb(102, 134, 199);

    --containerBgColor: rgba(136, 190, 255, 0.06);
    --containerBorderColor: rgba(136, 190, 255, 0.24);
}

[data-theme='night'] {
    --borderColor: rgb(58, 72, 90);
    --backgroundColor: #151515;

    --fontColor: rgb(225, 225, 225);
    --fadedFont: rgb(160, 160, 160);

    --primaryColor: rgb(128, 128, 128);
    --primaryColorHover: rgb(173, 173, 173);

    --containerBgColor: rgba(168, 171, 189, 0.06);
    --containerBorderColor: rgba(242, 248, 255, 0.24);
}

[data-theme='light'] {
    --borderColor: rgb(58, 72, 90);
    --backgroundColor: #f4f4f4;

    --fontColor: rgb(0, 0, 0);
    --fadedFont: rgb(66, 66, 66);

    --primaryColor: rgb(45, 45, 45);
    --primaryColorHover: rgb(0, 0, 0);

    --containerBgColor: rgba(120, 120, 120, 0.06);
    --containerBorderColor: rgba(65, 65, 65, 0.24);
}