@use './mixins.scss' as mixins;
@use './colors.scss' as *;

// VARIABLES
$topbarHeight: 50px;
$scrollableContainerHeight: calc(100vh - var(--topbarHeight));

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */

  font-family: 'Tomorrow', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fontColor);
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  color: var(--primaryColor);
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

// custom scrollbar
// scrollbar
::-webkit-scrollbar {
  width: 14px;
  // height: 14px;
}

::-webkit-scrollbar-track {
  background-color: var(--containerBgColor);
  background: var(--containerBgColor);
  border-left: solid 1px var(--containerBorderColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border: solid 4px transparent;
  // border-radius: 20px;
  background-clip: content-box;
}