@use './../../styles/index.scss' as *;
@use './../../styles/colors.scss' as *;

.location-card {
    // border-radius: 12px;
    margin-bottom: 16px;

    .location-card-header {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        font-weight: 700;
        position: sticky;
        top: $topbarHeight;
        height: $sectionHeaderHeight;
        z-index: 10;
        padding: 12px;
        border-bottom: solid 1px $containerBorderColor;
        background-color: $backgroundColor;
    }

    .content {
        margin-top: 12px;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
    }
}

.map-card {
    // border-radius: 12px;
    margin-bottom: 8px;
    position: relative;

    .map-card-header {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        font-weight: 700;
        position: sticky;
        top: calc($topbarHeight + $sectionHeaderHeight);
        height: $sectionHeaderHeight;
        z-index: 9;
        padding: 12px;
        border-bottom: solid 1px $containerBorderColor;
        background-color: $backgroundColor;
    }

    .content {
        margin-top: 12px;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.section-header {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 700;
    position: sticky;
    height: $sectionHeaderHeight;
    z-index: 8;
    padding: 12px;
    border-bottom: solid 1px $containerBorderColor;
    background-color: $backgroundColor;

    &.encounters,
    &.items,
    &.trainers {
        top: calc($topbarHeight + $sectionHeaderHeight + $sectionHeaderHeight);
        z-index: 8;
    }

    &.encounter-table {
        top: calc($topbarHeight + $sectionHeaderHeight + $sectionHeaderHeight + $sectionHeaderHeight);
        z-index: 7;
    }
}

.encounters-container {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin-top: 12px;
    gap: 16px;

}

.container-style {
    // border-radius: 8px;
    // padding: 8px;
    background: $containerBgColor;
    border: solid 1px $containerBorderColor;
}

// .section-encounters {
//     background-color: $backgroundColor;
// }

.table-container {
    padding: 12px 0px 12px 2rem;
}

.table-wrapper {
    padding: 0px;
    overflow: hidden;
    border-radius: 8px;
}

.encounters-table,
.items-table {
    width: 100%;
    border-collapse: collapse;
    border: 0px;
    border-radius: 8px;

    th,
    td {
        border: 1px solid $borderColor;
        text-align: left;
        background: darken($backgroundColor, 2%);
    }

    th {
        background: darken($backgroundColor, 10%);
        padding: 5px 12px 4px;

        &.left {
            text-align: left;
        }

        &.center {
            text-align: center;
        }
    }

    td {
        padding: 0px 4px;
    }

    tbody tr:nth-child(even) td {
        background: lighten($backgroundColor, 3%);
    }

    tbody tr:hover td {
        background: lighten($backgroundColor, 8%);
        cursor: pointer;
    }

    .encounter-mon,
    .encounter-level,
    .encounter-rate,
    .encounter-item {
        display: flex;
        align-items: center;
        font-size: 1rem;
    }

    .encounter-mon,
    .encounter-item {
        gap: 8px;
        padding-left: 12px;
    }

    .encounter-level,
    .encounter-rate {
        justify-content: center;
    }
}