@use './../../../../../../styles/index.scss' as *;
@use './../../../../../../styles/colors.scss' as *;

.party-card-container {
    display: flex;
    gap: 16px;
    padding: 16px;
    border-top: 1px solid $containerBorderColor;
    border-left: solid 1px $containerBorderColor;
    background-color: $containerBgColor;

    .trainer-party {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }
}