@use './../../../../../../styles/index.scss' as *;
@use './../../../../../../styles/colors.scss' as *;

.party-card-container {
    display: flex;
    gap: 16px;
    padding: 16px;
    border-top: 1px solid var(--containerBorderColor);
    border-left: solid 1px var(--containerBorderColor);
    background-color: var(--containerBgColor);

    .trainer-party {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }
}