.svg-container {
    width: 16px;
    height: 16px;
    display: flex;

    svg {
        height: inherit;
        width: inherit;

        g {
            max-height: inherit;

            path {
                max-height: inherit;
            }
        }
    }
}