// src/pages/pokemonPage/components/trainersBlock/styles.scss
@use '../../../../styles/index.scss' as *;
@use '../../../../styles/colors.scss' as *;

.pokemon-detail-trainers {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;

    .trainer-usage-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // gap: 24px;
        overflow-x: hidden;

        .trainer-meta {
            display: flex;
            gap: 12px;
            min-width: 150px;

            .trainer-location-info {
                display: flex;
                flex-direction: row;
                gap: 12px;
                color: var(--fadedFont);
                font-size: 0.85rem;
                text-align: center;
                justify-content: center;
                background-color: var(--backgroundColor);
                border: 1px solid var(--containerBorderColor);
                border-bottom: none;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                padding: 6px 18px;

                .location-name {
                    font-weight: 700;
                    color: var(--fontColor);
                    font-size: 0.95rem;
                }

                .map-name {
                    font-weight: 500;
                    color: var(--fontColor);
                    font-size: 0.95rem;
                    opacity: 0.75;
                }
            }
        }

        .trainer-party-container {
            border-radius: 12px;
            border-top-left-radius: 0px;
            display: flex;
            flex-direction: row;
            background-color: var(--containerBgColor);
            border: 1px solid var(--containerBorderColor);
            padding: 8px;

            .trainer-card-container {
                height: 100%;
            }

            .trainer-party-full {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 12px;
                flex-wrap: nowrap;
                overflow-x: auto;
                padding: 4px;
                flex: 1;

                &::-webkit-scrollbar {
                    height: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: color-mix(in srgb, var(--containerBgColor), transparent 50%);
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--containerBorderColor);
                    border-radius: 4px;
                }
            }
        }
    }
}