@use './../../../../../../styles/index.scss' as *;
@use './../../../../../../styles/colors.scss' as *;

.trainer-pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 130px;
    min-width: 130px;

    .sprite-wrapper {
        background-color: var(--backgroundColor);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .sprite-container {
            width: 60px;
            height: 60px;
            background-color: var(--backgroundColor);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .mon-info {
        text-align: center;
        width: 100%;

        .name-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-top: 1px; // may be unnecessary
            gap: 8px;
            background-color: var(--containerBorderColor);

            .mon-info-detail {
                font-weight: bold;
                color: var(--fontColor);
                font-size: 0.9rem;
            }
        }

        .lvl-container,
        .ability-container,
        .nature-container {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            gap: 8px;
            // border-top: 1px solid var(--borderColor);
            background-color: var(--containerBgColor);
            padding: 2px 0px;

            .mon-info-detail {
                color: var(--fontColor);
                font-size: 0.8rem;
            }
        }

        .mon-moves {
            color: var(--fontColor);
            display: flex;
            flex-direction: column;
            border-top: 1px solid var(--borderColor);

            .move {
                font-size: 0.8rem;
                padding: 2px 0px;
                border-top: 1px solid var(--borderColor);
                background-color: var(--backgroundColor);

                &.empty {
                    color: rgba(255, 255, 255, 0.35);
                    font-style: italic;
                }
            }
        }
    }
}