@use './../../../../../../styles/index.scss' as *;
@use './../../../../../../styles/colors.scss' as *;

.trainer-pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid $borderColor;
    background-color: $backgroundColor;
    width: 140px;
    min-width: 140px;

    .sprite-container {
        width: 60px;
        height: 60px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .mon-info {
        text-align: center;

        .name-lvl {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            gap: 8px;

            .mon-name {
                font-weight: bold;
                margin-bottom: 4px;
                color: $fontColor;
            }

            .mon-level {
                font-size: 12px;
                color: $fontColor;
                margin-bottom: 4px;
            }
        }

        .mon-moves {
            font-size: 12px;
            color: $fontColor;
            display: flex;
            flex-direction: column;

            .move {
                margin-bottom: 2px;
            }
        }
    }
}