@use './../../../../styles/index.scss' as *;
@use './../../../../styles/colors.scss' as *;

.trainers-section {
    gap: 16px;

    .trainers-list {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        padding-left: 32px;
    }
}