@use './../../../../../../styles/index.scss' as *;
@use './../../../../../../styles/colors.scss' as *;

.trainers-section {
    gap: 16px;

    .trainers-list {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        gap: 16px;
        padding: 16px;
    }
}