@use './../../styles/index.scss' as *;
@use './../../styles/colors.scss' as *;

.file-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .container {
        text-align: center;

        input[type="file"] {
            cursor: pointer;
        }

        .file-upload-label {
            display: inline-block;
            padding: .5rem 2rem;
            min-width: 280px; // Ensures the border doesn't jump when text changes
            border: 2px dashed var(--containerBorderColor);
            border-radius: 1rem;
            background-color: var(--backgroundColor);
            color: var(--fontColor);
            font-weight: bold;
            cursor: pointer;
            text-align: center;
            transition: border-color 0.15s, color 0.15s;

            &:hover {
                border-color: var(--primaryColor);
                color: #fff;
            }

            input[type="file"] {
                display: none;
            }

            .uploading-text {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-left: 1rem;

                .dots {
                    display: inline-block;
                    width: 1.5rem;
                    text-align: left;
                }
            }
        }
    }
}