@use './../../styles/index.scss' as *;
@use './../../styles/colors.scss' as *;

$collapseButtonHeight: 41px;

.sidebar-wrapper {
    height: $scrollableContainerHeight;
    border-right: solid 1px var(--containerBorderColor);
    background-color: var(--backgroundColor);

    .collapse-all-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-bottom: solid 1px var(--containerBorderColor);
        height: $collapseButtonHeight;

        .collapse-all-text {
            font-size: 1rem;
            color: var(--fontColor);
        }
    }
}

.locations-sidebar {
    overflow-y: scroll;
    width: 250px;
    height: calc(100vh - $topbarHeight - $collapseButtonHeight);
}

.sidebar-item {
    display: block;
    padding: 6px 8px;
    font-size: 0.95rem;
    color: var(--fadedFont);
    text-decoration: none;
    border-left: 3px solid transparent;
    transition: all 0.15s ease;

    span {
        margin-right: 1rem;

    }

    &:hover {
        color: var(--fontColor);
    }

    &.active {
        color: var(--fontColor);
        font-weight: 700;
        border-left-color: var(--primaryColor);
        border-left-width: 3px;
        background: var(--containerBgColor);
    }
}