@use './../../../../styles/index.scss' as *;
@use './../../../../styles/colors.scss' as *;

.container-style {
    padding: 8px;
    padding-bottom: 0px;
    padding-right: 0px;
    background: var(--containerBgColor);
    border-top: solid 1px var(--containerBorderColor);
    border-left: solid 1px var(--containerBorderColor);

    .section-header {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        font-weight: 700;
        padding-bottom: 8px;
    }

    .content {
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
    }
}

.location-card {
    width: 100%;
    background-color: transparent;
    border-left: 0px;
    border-bottom: solid 1px var(--containerBorderColor);
    border-top: none;
}

.table-container {
    padding: 4px 16px 16px 2rem;
}

.table-wrapper {
    padding: 0px;
    overflow: hidden;
    border-radius: 0px;
}

.encounters-table,
.items-table {
    width: 100%;
    border-collapse: collapse;
    border: 0px;
    max-width: 800px;

    th,
    td {
        border: 1px solid var(--containerBorderColor);
        text-align: left;
        background-color: color-mix(in srgb,
                var(--backgroundColor),
                black 2%);
        ;
    }

    th {
        background-color: color-mix(in srgb,
                var(--backgroundColor),
                black 40%);
        padding: 5px 12px 4px;

        &.left {
            text-align: left;
        }

        &.center {
            text-align: center;
        }
    }

    td {
        padding: 0px 4px;
    }

    tbody tr:nth-child(even) td {
        background-color: color-mix(in srgb,
                var(--backgroundColor),
                white 3%);
    }

    tbody tr:hover td {
        background-color: color-mix(in srgb,
                var(--backgroundColor),
                white 8%);
        cursor: pointer;
    }

    .encounter-mon,
    .encounter-level,
    .encounter-rate,
    .encounter-item {
        display: flex;
        align-items: center;
        font-size: 1rem;
    }

    .encounter-mon,
    .encounter-item {
        gap: 8px;
        padding-left: 12px;
    }

    .encounter-level,
    .encounter-rate {
        justify-content: center;
    }
}

.map-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-right: 16px;
    background-color: var(--backgroundColor);
    border: solid 1px var(--containerBorderColor);

    .generated-map {
        max-width: 100%;
        height: auto;
        max-height: 600px;
        // image-rendering: pixelated;
    }
}