@use './../../../../styles/index.scss' as *;
@use './../../../../styles/colors.scss' as *;

.theme-drawer {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    background: var(--backgroundColor);
    border-left: 1px solid var(--containerBorderColor);
    transition: right 0.25s ease;
    z-index: 20;
    display: flex;
    flex-direction: column;

    &.open {
        right: 0;
    }

    .theme-drawer-header {
        display: flex;
        justify-content: space-between;
        height: $topbarHeight;
        align-items: center;
        justify-content: space-between;
        padding: 0px 16px;
        border-bottom: 1px solid var(--containerBorderColor);

        .close-button {
            background-color: var(--backgroundColor);
            border: solid 1px var(--containerBorderColor);
            padding: 4px 8px;
            border-radius: 0px;
            cursor: pointer;
            transition: all ease .2s;
            color: var(--fontColor);

            &:hover {
                background-color: var(--primaryColor);
                border: solid 1px var(--primaryColor);
            }
        }
    }

    .theme-list {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 0.5rem;
    }

    .theme-item {
        padding: 0.75rem;
        border-radius: 0.5rem;
        background: var(--containerBgColor);
        border: 1px solid var(--containerBorderColor);
        cursor: pointer;
        color: var(--fontColor);

        &.active {
            background: var(--primaryColor);
            color: var(--backgroundColor);
        }
    }
}